{% extends '::base.html.twig' %}
{% block title %}Accueil {{ parent() }}{% endblock %}
{% block body %}
    <img src="{{asset ('css/images/logo/IPEZ.PNG') }}">
    <p><h1>Les ventes privées High-Tech qui font tourner la tête</h1></p>
    <p><h2>Bienvenue sur le back office </h2></p>
{% endblock %}