{% extends '::base.html.twig' %}

{% block header %}
    <div class="header">
        <h1>Login</h1>
        <h2>Formulaire d'authentification</h2>
    </div>
{% endblock %}

{% block body %}
    
{% endblock %}
