{% extends '::base.html.twig' %}

{% block body %}
    <h1>Hello {{ name }}!</h1>
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Page Title</h1>
        <h2>A subtitle for your page goes here</h2>
    </div>
{% endblock %}
