# Bootstrap
app/bootstrap*

# Symfony directories
*/logs/*
*/cache/*
web/uploads/categories/*
web/uploads/products/*
web/uploads/slides/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
/nbproject/private/
!/web/uploads/categories/