{% extends '::base.html.twig' %}
{% block header %}Liste des alertes clientes{% endblock %}
{% block body %}
    {% for alert in alerts %}
        {{ alert.user.name }} <a href="{{ path('ipezbo_brand_edit', {id : alert.id}) }}">Editer</a><br />
    {% endfor %}
{% endblock %}