<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} - IPEZ{% endblock %}</title>
        {% stylesheets filter='cssrewrite'
        'css/pure-min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% stylesheets filter='cssrewrite'
        'css/side-menu.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
    </head>
    <body>
        <div id="layout">
            {% include "::menu.html.twig" %}
            <div id="main">
                {% block header %}{% endblock %}
                {% block body %}{% endblock %}
            </div>
            
        </div>
        {% javascripts%}{% endjavascripts %}
</body>
</html>