<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} - IPEZ{% endblock %}</title>
        {% stylesheets filter='cssrewrite'
        'css/pure-min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
        {% include "::menu.html.twig" %}
        <div id="layout">
            {% block body %}{% endblock %}
        </div>
</div>
{% javascripts%}{% endjavascripts %}

</body>
</html>