{% extends '::base.html.twig' %}

{% block header %}
    <div class="header">
        <h1>Enregistrement</h1>
        <h2>Ajout de nouveaux utilisateurs</h2>
    </div>
{% endblock header %}

{% block body %}
{% include "ipezboUserBundle:Registration:register_content.html.twig" %}
{% endblock body %}
