{% extends '::base.html.twig' %}
{% block header %}Ajouter un slide{% endblock %}
{% block body %}
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>


    <a href="{{path('ipezbo_slider_homepage') }}">Retour aux slides</a>
{% endblock %}