{% extends '::base.html.twig' %}
{% block header %}Ajouter un slide{% endblock %}
{% block body %}
<form method="post" {{ form_enctype(form) }} class="pure-form">
        {{ form_widget(form) }}
    <input type="submit" class="pure-button pure-button-primary margeButton" />
</form>


    <a class="pure-button margeButton" href="{{path('ipezbo_slider_homepage') }}">Retour aux slides</a>
{% endblock %}