{% extends '::base.html.twig' %}
{% block header %}Liste des clients{% endblock %}
{% block body %}
    <table id="tableBrand" class="pure-table pure-table-bordered display">
        <thead><tr><th>Nom</th><th></th></tr></thead>
        <tbody>
        {% for customer in customers %}
            <tr><td>{{ customer.name }}</td></tr>
        {% else %}
            Pas de marques
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}
    
{% block javascripts %}
    <script src="{{ asset('js/dataTable/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        $('#tableBrand').dataTable();
    });
    </script>
{% endblock %}